<div class="row">
  <div class="col-md-12">
    <div class="card card-user" style="width: auto">
      <div class="card-header">
        <h5 class="card-title">Cadastrar Aula</h5>
      </div>
      <div class="card-body" style="min-height: 0px">
        <form [formGroup]="formClass">
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Série</label>
                <input
                  type="text"
                  formControlName="grade"
                  class="form-control"
                  placeholder="Ex: 1ª Série"
                  value="1ª Série"
                />
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label for="teacherId">Professor</label>
                <select
                  class="form-control"
                  formControlName="teacherId"
                  name="teacherId"
                  id="teacherId"
                  [(ngModel)]="teachers"
                >
                  <option *ngFor="let item of teachers" value="{{ item.id }}">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button (click)="onSubmit()" class="btn btn-primary btn-round">
                Cadastrar
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="width: auto">
                <div class="card-header">
                  <h4 class="card-title">Tabela de Aulas</h4>

                  <div
                    class="spinner-border"
                    role="status"
                    *ngIf="estaCarregando"
                  >
                    <span class="sr-only">Loading...</span>
                  </div>

                  <div *ngIf="erroNoCarregamento">
                    <h2>Deu erro :(</h2>
                    <button (click)="loadTable()">Tentar novamente</button>
                  </div>
                </div>

                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" (change)="getClassesTable()">
                      <thead class="text-primary">
                        <th>ID</th>
                        <th>Aula</th>
                        <th>Professor</th>
                        <th></th>
                        <th>Actions</th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let item of classesTable
                              | paginate
                                : {
                                    id: 'pagination1',
                                    itemsPerPage: 10,
                                    currentPage: p,
                                    totalItems: total
                                  }
                          "
                        >
                          <td>{{ item.id }}</td>
                          <td>{{ item.grade }}</td>
                          <td>{{ item.teacher.name }}</td>

                          <td>
                            <button
                              class="btn btn-success btn-sm"
                              (click)="update(item.id)"
                            >
                              update
                            </button>
                          </td>
                          <td>
                            <button
                              class="btn btn-danger btn-sm"
                              (click)="deleteClass(item.id)"
                            >
                              delete
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div
                      style="
                        display: flex;
                        justify-content: center;
                        width: 100%;
                      "
                    >
                      <pagination-controls
                        id="pagination1"
                        (pageChange)="pageChangeEvent($event)"
                      ></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card card-plain" style="width: auto">
      <div class="card-header">
        <h5 class="card-title">Cadastrar Estudante/Aula</h5>
      </div>
      <div class="card-body" style="min-height: 0px">
        <form [formGroup]="formClassStudent">
          <div class="row">
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label for="studentId">Estudante</label>
                <select
                  class="form-control"
                  formControlName="studentId"
                  name="studentId"
                  id="studentId"
                  [(ngModel)]="students"
                >
                  <option *ngFor="let item of students" value="{{ item.id }}">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="classId">Aula</label>
                <select
                  class="form-control"
                  type="number"
                  formControlName="classId"
                  name="classId"
                  id="classId"
                  [(ngModel)]="class"
                >
                  <option
                    *ngFor="let item of classesTable"
                    value="{{ item.id }}"
                  >
                    {{ item.grade }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button
                (click)="createClassStudent(class.id)"
                class="btn btn-primary btn-round"
              >
                Cadastrar
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card card-plain" style="width: auto">
                <div class="card-header">
                  <h4 class="card-title">Tabela de Estudante/Aula</h4>

                  <div
                    class="spinner-border"
                    role="status"
                    *ngIf="estaCarregando"
                  >
                    <span class="sr-only">Loading...</span>
                  </div>

                  <div *ngIf="erroNoCarregamento">
                    <h2>Deu erro :(</h2>
                    <button (click)="loadTable()">Tentar novamente</button>
                  </div>
                </div>

                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" (change)="getClassesTable()">
                      <thead class="text-primary">
                        <th>ID</th>
                        <th>Estudante</th>
                        <th>Aula</th>
                        <th></th>
                        <th>Actions</th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let item of classesTable
                              | paginate
                                : {
                                    id: 'pagination2',
                                    itemsPerPage: 10,
                                    currentPage: p,
                                    totalItems: total
                                  }
                          "
                        >
                          <td>{{ item.id }}</td>
                          <td>{{ item.students.name }}</td>
                          <td>{{ item.grade }}</td>

                          <td>
                            <!-- <button
                              class="btn btn-success btn-sm"
                              (click)="update(item.id)"
                            >
                              update
                            </button> -->
                          </td>
                          <td>
                            <button
                              class="btn btn-danger btn-sm"
                              (click)="deleteClass(item.id)"
                            >
                              delete
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div
                      style="
                        display: flex;
                        justify-content: center;
                        width: 100%;
                      "
                    >
                      <pagination-controls
                        id="pagination2"
                        (pageChange)="pageChangeEvent($event)"
                      ></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
