<!-- <app-landing-page></app-landing-page> -->
<!-- <app-login></app-login>
<app-sign-up></app-sign-up> -->
<router-outlet></router-outlet>
<app-admin-layout *ngIf=""></app-admin-layout>

<!-- <div class="wrapper" *ngIf='false' >
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <footer-cmp></footer-cmp>
    </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp> -->
